body {
    background: #e0eec6;
}

header {

    font-family: "Century Gothic";
    background-color: #243e36;
    color: white;
    padding: 20px;
    text-align: center;

}

input[type="text"]::placeholder {
    text-align: center;
}

form {
    text-align: center;
}

#title {
    margin: 0;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

label {
    margin-top: 5%;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.input-field {

    display: inline-block;
    padding: 0 16px 0 12px;
    margin-top: 0.5%;
    width: 25;
    line-height: 30px;
    height: 34px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear, background-color .1s linear;

    :focus {
        border-color: #071018;
        color: var(--sds-c-input-text-color-focus);
        box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
    }

}

.add-button {
    margin-top: .25cm;
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #c2a83e;
    border-radius: 0.25rem;
    border: 1px solid #7ca982;
    color: #fff;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;

    :hover {
        background-color: #005fb2;
        border-color: #005fb2;
    }
}

.decode-button {
    display: inline-block;
    margin-top: 0.25cm;
    margin-bottom: .25cm;
    outline: none;
    cursor: pointer;
    padding: 0 16px;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #7ca982;
    color: #7ca982;
    font-size: 13px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;

    :hover {
        background-color: #f4f6f9;
    }
}

.search-button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border: 0px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(9, 128, 76);
    box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;

    :hover {
        color: rgb(255, 255, 255);
        background-color: rgb(17, 97, 73);
        box-shadow: rgb(19 170 82 / 40%) 0px 2px 3px, rgb(195 231 202) 0px 0px 0px 3px;
    }
}

.clear-button {
    display: inline-block;
    outline: 0;
    appearance: none;
    padding: 0px 12px;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    background-color: rgb(249, 251, 250);
    border: 1px solid rgb(137, 151, 155);
    box-shadow: rgb(6 22 33 / 30%) 0px 1px 2px;
    color: rgb(61, 79, 88);
    font-size: 13px;
    font-weight: 400;
    height: 36px;
    transition: all 150ms ease-in-out 0s;

    :hover {
        color: rgb(61, 79, 88);
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(93, 108, 116);
        box-shadow: rgb(0 0 0 / 30%) 0px 4px 4px, rgb(231 238 236) 0px 0px 0px 3px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    text-align: center;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 1;
}

.delete-button {
    background-color: #c2a83e;
    color: white;
    border: none;
    padding: 1px 3px;
    cursor: pointer;
    border-radius: 5px;

}